victest.sh
.vscode
.coverage
.idea
*.pyc
.pytest_cache
*.egg-info
*.pot
*.py[co]
.tox/
htmlcov/
__pycache__
tox_make_migrations.ini
tox_makemessages_es.ini
tox_compilemessages.ini
tox_operation.ini
tox_shell.ini
.pypirc
dist/

html_cov
tmp
.codacy-coverage
